@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-300;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .truncate-none {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
  }
}
